In [2]:
from sklearn.linear_model import LogisticRegression
import numpy as np
import pandas as pd

In [31]:
data_train= pd.read_csv("0000000000002429_training_titanic_x_y_train.csv")
#data_train.describe()
def add_age(cols):
    Age = cols[0]
    Pclass = cols[1]
    if pd.isnull(Age):
        return int(data_train[data_train["Pclass"] == Pclass]["Age"].mean())
    else:
        return Age

data_train["Age"] = data_train[["Age", "Pclass"]].apply(add_age,axis=1)
data_train.drop("Cabin",inplace=True,axis=1)

#data_train.dropna(inplace=True)

#pd.get_dummies(data_train["Sex"])
sex = pd.get_dummies(data_train["Sex"],drop_first=True)
embarked = pd.get_dummies(data_train["Embarked"],drop_first=True)
Pclass = pd.get_dummies(data_train["Pclass"],drop_first=True)

data_train = pd.concat([data_train,Pclass,sex,embarked],axis=1)

data_train.drop(["Pclass","Name","Sex","Ticket","Embarked"],axis=1,inplace=True)


x = data_train.drop("Survived",axis=1)
y = data_train["Survived"]

log_model = LogisticRegression()
log_model.fit(x,y)

/Users/atharvjairath/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [32]:
data_train.head()

    Age  SibSp  Parch    Fare  Survived  2  3  male  Q  S
0  29.0      1      0  26.000         1  1  0     0  0  1
1  25.0      0      0   8.050         0  0  1     1  0  1
2  39.0      0      0  26.000         0  1  0     1  0  1
3  29.0      0      4  21.075         0  0  1     0  0  1
4  25.0      0      0   7.050         0  0  1     1  0  1

In [33]:
data_test= pd.read_csv("0000000000002429_test_titanic_x_test.csv")
print(len(data_test))
def add_age(cols):
    Age = cols[0]
    Pclass = cols[1]
    if pd.isnull(Age):
        return int(data_test[data_test["Pclass"] == Pclass]["Age"].mean())
    else:
        return Age

data_test["Age"] = data_test[["Age", "Pclass"]].apply(add_age,axis=1)
data_test.drop("Cabin",inplace=True,axis=1)

#data_test.dropna(inplace=True)
sex = pd.get_dummies(data_test["Sex"],drop_first=True)
embarked = pd.get_dummies(data_test["Embarked"],drop_first=True)
Pclass = pd.get_dummies(data_test["Pclass"],drop_first=True)

data_test = pd.concat([data_test,Pclass,sex,embarked],axis=1)

data_test.drop(["Pclass","Name","Sex","Ticket","Embarked"],axis=1,inplace=True)

data_test.head()

223

    Age  SibSp  Parch     Fare  2  3  male  Q  S
0   8.0      1      1  36.7500  1  0     1  0  1
1  49.0      0      0  25.9292  0  0     0  0  1
2  23.0      0      0   7.7375  0  1     1  1  0
3  24.0      2      1  27.0000  1  0     0  0  1
4  36.0      0      0  26.2875  0  0     1  0  1

In [34]:
X_test=data_test
len(X_test)

223

In [35]:
predictions = log_model.predict(X_test)

In [36]:
len(predictions)

223

In [37]:
np.savetxt('Titanic_predictions_last.csv',predictions,delimiter=',')